extends layout

block content
    .row
        .col-sm-6
            h2 CramBot
            p CramBot is the best cramming tools for students.
            p
            p We believe in reinventing how students study for their courses, so they can live in the moment.
            p
            p Our product allows students to share study material for their courses.

            a.btn.btn-default(href='https://www.messenger.com/t/goCramBot', role='button') Launch »
